[2016-02-09 02:53] jchodera opened #1 "Fork created"
Tagging @swails and @rafwiewiora

[2016-02-09 02:54] rafwiewiora commented on #1
Thanks!

[2016-02-09 08:47] rafwiewiora opened #3 "Format of the Source provenance info // Multiple references"
Tagging all parties: @jchodera @swails @peastman

1. Source file provenance:

 Seems like here: https://github.com/pandegroup/openmm/pull/1134#issuecomment-142228639 we've decided on:
[code]

 Still approved?

 @swails Let's discuss how to tweak the code to pass those attributes on the ParmEd issue.

2. Some FFs happen to have two references, because they're a 'mix' (ff14SBonlysc - I gave it both

[2016-02-09 12:35] swails commented on #3
However you need to tweak the code go ahead.  The code handling the provenance information is strictly for this task, so let's make it work for exactly what's needed.

[2016-02-09 18:10] peastman commented on #3
Fine with me.

Let's have multiple `<Reference>` tags then.

I don't think the exact format matters too much.  It just supposed to be human readable, not machine readable.  As long as it gives you the information to look up the reference, that's good enough.

[2016-02-10 16:46] rafwiewiora opened #4 "ff14ipq - energy validation fails due to a rogue dihedral"
@jchodera @swails

ff14ipq has been failing my energy validation on the Propers, by around 1.3 kJ/mol, which is about 5e-3 relative difference in this case (and I'm working with 1e-5 tolerance). This was only with villin, not ala_ala_ala.

I've tracked it down to just one problematic dihedral in proline. This is how I did it just to make sure this workflow didn't introduce any further bias:
- conv

[2016-02-10 16:59] swails commented on #4
I'm not sure why ff14IPQ doesn't put the terms in order like every other parameter file does.  I _think_ tleap will read these correctly, but I'm not sure.  Does the tleap-generated prmtop have 4 terms for dihedral types N-CX-C-TN?  Or just 1?  I know the guy that makes these files, so I can complain to him if leap is bungling this up.  I'm pretty sure I know what ParmEd does (it loads in each of

[2016-02-10 17:41] rafwiewiora commented on #4
Oh yes, thanks! Too much staring at this here for me clearly. Ok so this is a smaller problem, good.

Can you help me out look through the prmtop please? https://gist.github.com/rafwiewiora/388c7571f3fb12c28bee I don't quite understand the structure of it, particularly where parameters for which angle sit given this with H - without H separation.

But if I just ctrl+f it: 6.21500000E-02 (per 1) is

[2016-02-10 17:43] rafwiewiora commented on #4
Same for the other constants (per 3, 4) - not there.

[2016-02-10 17:45] swails commented on #4
Easiest thing to do that I can think of (and this is what I would do), is use ParmEd to dump an frcmod file and then compare the parameters in there to the parameters in the parm.dat files.

[code]

It should be immediately clear whether or not that prmtop has all 3 terms.  But I suspect they may not be there based on what you've seen.

[2016-02-10 18:02] rafwiewiora commented on #4
Cool!

Ok, I hope my eyes are not tricking me again, but this is weird, in frcmod:

[code]

Only this one for this.

BUT

[code]

All 4 here. But if you look at the fragment of the dat in my first post - both of these angles are mixed up together. Why are they behaving differently in tleap?

[2016-02-10 18:07] swails commented on #4
It's been a long time since I've looked at this part of the tleap code (and I don't recall fully understanding it then, either), but I don't think that tleap really handles this situation too well.  It seems that of the intermixed multi-term definitions, only the first one is getting all of its terms filled in.  The others only get the last term assigned.

Clearly this is an assumption in tleap an

[2016-02-10 18:26] swails commented on #4
You can go ahead and punt on this.  It's a bug in parm14ipq.dat.

[2016-02-10 18:29] rafwiewiora commented on #4
Great, thanks! For now, I'm just going to increase the tolerance for 14ipq propers to 1e-2.

[2016-02-10 18:40] rafwiewiora commented on #4
Whoops didn't see this, ok - I'm not converting 14ipq for now until we get a clear answer on this. @jchodera this ok with you?

[2016-02-10 19:30] jchodera commented on #4
Yeah, we will skip this for now.

[2016-02-11 05:22] rafwiewiora opened #7 "ffAM1 / ffPM3 - LEaP overrides nonbonded equivalencing"
@swails

ffAM1 fails energy validation on nonbonded.

parmAM1.dat specifies equivalencing, but then specifies different params for types that should be equivalenced.

[code]

ParmEd overrides different params with equivalencing, LEaP appears to act in the opposite way - frcmod from prmtop for villin:
[code]

CA != C:
[code]

[2016-02-11 05:32] rafwiewiora commented on #7
Same thing for ffPM3 / parmPM3.dat

[2016-02-11 05:38] jchodera commented on #7
D'oh.

[2016-02-11 05:49] swails commented on #7
Ugh!  Sounds like we need to fix the ParmEd parser and add a warning.

[2016-02-11 06:18] swails commented on #7
Should be fixed in ParmEd/ParmEd#601 -- give it a try if you want.

[2016-02-14 21:06] #1 closed

[2016-02-14 21:06] #3 closed

[2016-02-14 21:06] #4 closed

[2016-02-14 21:06] #7 closed

[2016-02-14 21:58] rafwiewiora opened #8 "PeriodicTorsionGenerator behavior with GAFF- frcmod ffxml use"
Tagging @jchodera @swails @peastman

I'm not sure if we had talked about this before, I hope not given how much it confused me...

I was making a test system for GAFF and I chose imatinib, mol2: https://github.com/choderalab/openmoltools/blob/master/openmoltools/chemicals/imatinib/imatinib.mol2

So we have a:
* converted gaff.dat --> gaff.xml

* frcmod made for imatinib with parmch2, converted to

[2016-02-14 22:02] rafwiewiora commented on #8
The files are here:

gaff.xml:
https://gist.github.com/rafwiewiora/c48d6ac828263ae19642
imatinib_frcmod.xml:
https://gist.github.com/rafwiewiora/0d5cc642ea73d5c12934
imatinib.xml:
https://gist.github.com/rafwiewiora/8ddf558b76c4f7d7cfca

[2016-02-15 00:53] jchodera commented on #8
Pinging @peastman as well.

I hadn't realized each `<PeriodicTorsionForce>` would create a _new_ `PeriodicTorsionGenerator`.
- @peastman: Is this the intended behavior?
- Is there some way we could provide for `<PeriodicTorsionForce>` groups to be joined across different files?
- Are there opportunities where this would be undesirable, and we would want to prevent this from happening?

Perhaps som

[2016-02-15 05:30] rafwiewiora commented on #8
Ok, I get now why `ff = ForceField('imatinib_frcmod.xml', 'gaff.xml', 'imatinib.xml')` has the same result energy-wise as `ff = ForceField('gaff.xml', 'imatinib.xml')`. The torsions in the frcmod, if called before gaff.xml, which defines atom types, are ignored because the types [are not defined yet](https://github.com/pandegroup/openmm/blob/master/wrappers/python/simtk/openmm/app/forcefield.py#L3

[2016-02-16 18:37] peastman commented on #8
This is a good example of why it's a bad idea to have the results depend on the order in which you list files!  I agree with your recommendation.  We should create only a single generator (some of them already do that, such as NonbondedForceGenerator), and we should process the input files in a way that doesn't make the results depend on the order they were listed in.

[2016-02-16 19:23] rafwiewiora opened #9 "Impropers fail for RNA test"
@jchodera @swails

I swear nightmares about dihedrals will keep me awake at night forever after this...

RNA test system - cleaned up 5C5W:https://gist.github.com/rafwiewiora/686a17b8004414fe5562

Fails by a lot on the impropers. (I'm considering ff14SB specifically, but fail is for every single FF - didn't check by how much for others) I always bear in mind the problems with the order of atoms no

[2016-02-16 21:28] jchodera commented on #9
Wow.  AMBER and prmtop-ffxml certainly shouldn't be giving such large discrepancies.

Is this sufficiently automated such that you could go through and zero out one improper) or all impropers but one) at a time to figure out if there is a single term responsible for much of this discrepancy?

[2016-02-18 23:50] rafwiewiora commented on #9
Now it finally can! I'm turning off all propers and only turning on one improper at a time - in AMBER and in OpenMM-conversion. All pass the tests...

So it's either some mix up (maybe some overriding conflict) in the ffxml or there's no problems one-by-one in impropers, but they depend on each other and problem shows up in the whole system only? Impropers are simply additive, right?

[2016-02-18 23:59] jchodera commented on #9
The impropers should be additive.

I wonder if this is a combination of (1) tleap making a different choice from OpenMM for most of these impropers and (2) slight deviations from planarity causing the energies to add up to a larger error than usual.

[2016-02-20 05:32] rafwiewiora commented on #9
It was actually a bug in the debugging script... Got it now!

So what I'm doing is:
- turn off all propers
- turn on only one improper at a time --> convert --> compare AMBER vs OpenMM-converted energies.

Total improper energies are (kJ/mol):
Amber - 75.0081460522
ffxml- 89.2323361429

Now we have two culprits here:

**A**

AMBER dihedral: `('H4', 'X', 'CS', 'X')`
ffxml translation:

[code]

Ener

[2016-02-20 06:15] rafwiewiora commented on #9
These are N - C(sp2) - C(sp2) - H in the C/U rings, so I guess the energy changes on making a mistake here do not surprise.

[2016-02-20 08:02] rafwiewiora commented on #9
Interestingly, I'm seeing two >1 kJ/mol misfits for the DNA system too, but they're in both directions and cancel themselves out just enough to make the improper energies fall into 1% tolerance!

We have:
**A**

[code]

Energies (AMBER / OpenMM):

[code]

Is this due to a (partial) swap in two hydrogens in the order:
AMBER (these are atom names not types):

[code]

OpenMM (second one is extra)

[c

[2016-02-20 20:00] peastman commented on #9
Here's what @swails said about it at https://github.com/pandegroup/openmm/issues/220#issuecomment-115458262:

[2016-02-20 20:13] jchodera commented on #9
Well, 14 kJ/mol is almost 6 kT, which is a factor of a 400 in population of those structures.

I think we should probably put a big warning in the manual at this point about the fact that LEaP does not unambiguously define an improper ordering, requiring users who want exact agreement with LEaP to go through the LEaP route and load in via `AmberPrmtopFile/AmberInpcrdFile`.

Thanks for tracking thi

[2016-02-20 22:38] swails commented on #9
Notice that the behavior I described isn't really the same as what @rafwiewiora reported here.  The ordering of CS, N*, and H4 should not be ambiguous.  There's something else happening here, but I don't know what it is.  I also admit that 14 kJ/mol is a lot more than I would expect.  Of course this difference can be very misleading, as it could be (and likely is, to a large extent) basically a sh

[2016-02-20 22:43] rafwiewiora commented on #9
Can we track this down further into the tleap code?

I see the sorting [here](https://github.com/choderalab/ambermini/blob/e11361c938161e6c6ea03e23d58195193ff03cd2/leap/src/leap/parmSet.c#L258), but this is only in the parameter set, before assignment for the system, right? (not sure if I'm using the right nomenclature for LeAP here)

So what decides on the order the two wildcards get assigned to

[2016-02-20 23:43] rafwiewiora commented on #9
Also, I want to clarify what 'central atom' means. That makes sense for an atom bound to 3 other atoms, but e.g. the problematic impropers in RNA are a linear chain of N-C-C-H - what defines the central atom there? And why is that not just defined as a proper?

[2016-02-21 00:02] swails commented on #9
Ack, I don't know anymore :(

[2016-02-21 03:07] peastman commented on #9
That's exactly the definition of a proper torsion!  So if it's being called an improper somewhere, that seems like a bug.

[2016-02-21 03:27] swails commented on #9
I think that impropers can actually be assigned to propers in some places... :(  I haven't looked at the logic for how LEaP assigns impropers in a ton of detail, but from what I've heard, it's weird.

[2016-02-23 17:38] rafwiewiora commented on #9
Sorry, my bad! I've looked in Pymol wrongly - it's fine, it's a central C with the three atoms bound to it. I realized there was no way OpenMM would assign this as an improper if it wasn't an improper, as it looks at bonding when constructing system data.

[2016-02-24 21:24] rafwiewiora opened #10 "Mistakes in external bond specifications in Amber"
@swails @jchodera

Started working on the LIPID14 ff just now and found just another mess in Amber files.

It's the connect sections for acyl chains in lipid14.lib (which specify the external bond connectivity). I understand from looking at other files, that the convention is if you have only one external bond, you use 0 as atom number for the second external bond, as atoms are 1-indexed in the fi

[2016-02-24 21:33] swails commented on #10
This is intentional behavior for lipid14. The convention means that the atom can act as EITHER head or tail.

Te amino residues are bugs.

[2016-02-24 21:44] rafwiewiora commented on #10
How do you define 'head' or 'tail'?

So this seems to be only the convention in lipid ffs right? Modify the write function in ParmEd to only write out one of them if head == tail then?

[2016-02-24 21:53] rafwiewiora commented on #10
Sorry, I didn't read the file specifications until now - for my reference - head == binds to residue before it, tail == binds to residue after it.

Looks like we're ok to make this change in OpenMMParameterSet then. I'll write up a PR.

[2016-02-25 01:39] rafwiewiora opened #11 "Lipid14 - dihedral multi-periodicity problem again"
@swails

Same problem as in ff14ipq with breaking convention for multi-periodicity dihedrals in the .dat, slightly different flavor here - in lipid14.dat all dihedrals with the `Lipid14  v2.10 (paramfit)` comment are listed like this:
[code]

For now only had a system that used two of these problematic dihedrals, for those LeAP had all periodicities. They don't intertwine here as they did in 14ipq

[2016-02-25 01:40] rafwiewiora commented on #11
Btw I am not converting lipid11 for now (ever perhaps if there's lipid14), because it's using mixed scaling factors and we have no support.

[2016-02-25 03:18] rafwiewiora opened #12 "Completely off behavior of ff14SB + modrna08 bundle"
Sorry @swails, one more for you.

Something's completely broken with, it seems, overriding of parameters in ff14SB + modrna08 bundle.

Perhaps I'm mishandling the case of two leaprc's here.

Compare energies of system created in tleap (by calling source leaprc.ff14SB, then source leaprc.modrna08):
[code]

For loading two leaprc's into ParmEd, not having the join implemented, in my script I just pu

[2016-02-25 03:27] swails commented on #12
Not that I know of...  Maybe none of the parameters that are defined differently in both leaprc files are actually used in your test system(s)?  This is puzzling behavior...

[2016-02-25 21:06] rafwiewiora commented on #12
Ok,I have some answers. Started with the HarmonicBondForce - all_modrna08.frcmod has some parameters within itself repeated. For example it first lists N2-CA with bond length 1.363 and then CA-N2 with bond length 1.349. Interestingly they're both claiming to be 'same as ca-nh`.

Now ParmEd takes the second occurrence of course, but looks like LeAP actually takes the first one. I reversed the lines

[2016-02-25 21:25] rafwiewiora commented on #12
Also sorry, this is wrong - I don't know why I thought I saw that...

[2016-02-25 22:43] rafwiewiora commented on #8
Closing this as problem is resolved in https://github.com/pandegroup/openmm/pull/1373, just waiting for merging.

[2016-02-25 22:43] #8 closed

[2016-02-26 03:18] rafwiewiora opened #13 "Update // ions & solvents decision"
@peastman @jchodera @swails

**tl:dr**: All protein/nucleic converted, some issues outstanding that could bring in a few more FFs, some FFs never to be converted - all explained below. See ions & solvents section for decisions on how to distribute those.

Happy to report that all forcefields that are convertable right now, except for ions and solvents, have been converted and validated - all files

[2016-02-26 03:25] #10 closed

[2016-02-26 22:45] peastman commented on #13
I'm not sure what you mean by that.  Could you explain?

[2016-02-29 18:46] rafwiewiora commented on #13
@swails perhaps can explain in more detail, but my understanding from what he said is that LeAP cares about directionality in external bonds in residues, i.e. it will specifically mark an atom with an external bond a 'head' or a 'tail' depending on the directionality of the polymer. And this becomes a problem in the Lipid11 / Lipid14 forcefields, where the acyl chains are connected to the central

[2016-02-29 19:04] peastman commented on #13
Correct.  There's no directionality to an `<ExternalBond>`.  It doesn't care which other residue the bond connects to.

[2016-02-29 19:58] rafwiewiora commented on #12
@swails just a reminder about this whenever you have a sec :)

[2016-02-29 19:58] rafwiewiora commented on #11
@swails and reminder about this too

[2016-02-29 20:03] rafwiewiora commented on #13
Reposting the ions and solvents question because there was some confusion - @peastman @jchodera

### Ions & solvents

One question here - do we want water-ions bundles where possible or completely separate waters and ions?

In AMBER I see:
- 3 ready leaprc's for tip3p, tip4pew, SPC/E - these load the solvent params and Joung-Chetham monovalent ions
- then we have frcmod's for all solvents separate

[2016-02-29 20:07] peastman commented on #13
I was waiting to see what @swails would say.  He knows a lot more about those files than I do.

[2016-02-29 20:08] rafwiewiora commented on #13
Alright!

[2016-03-01 02:38] swails commented on #12
Sorry, and thanks for the reminder.  I have very limited time these days.  I'm at a complete loss here.  This is definitely a bug in the parameter files.  I'll post these details to the Amber list and see what they say.  Are you subscribed?

[2016-03-01 02:40] swails commented on #11
ParmEd and tleap behave differently here?  This parameter file violates the defined Amber format.  I'll post a bug report for this, as well.  Thanks!

[2016-03-01 03:01] swails commented on #13
I'm not sure what you were waiting on me for, but I'll assume it was in relation to the ions and water models (and not the lipid.  My vote is to bundle joint water/ion parameters together.  It's unclear to me what the _best_ ion model is for divalent ions (monovalent ions I think the Joung-Cheatham parameters are the way to go).  But with the divalent ions, you can either get HFE right, or you can

[2016-03-01 03:13] swails commented on #11
Bug report filed.

[2016-03-01 03:14] swails commented on #12
Bug report sent

[2016-03-01 03:15] swails commented on #12
I sent this via email to the Amber developer's list (since I don't know who's responsible for this FF).  The other one I filed in bugzilla which is not a publicly accessible forum.  But I'll update based on what I find out.

[2016-03-01 03:17] jchodera commented on #13
I'd vote for a scheme that enables us to do some sensible sensitivity analysis comparisons of which good combinations might be best for binding free energy calculations.

[2016-03-01 04:52] rafwiewiora commented on #11
Yeah, ParmEd doesn't expect another periodicity if it didn't have a negative number before right? Thanks!

[2016-03-01 04:53] rafwiewiora commented on #12
Thanks! Yeah I know you're busy with the job now, whenever you have a sec is great, we appreciate the time!

[2016-03-01 16:53] peastman commented on #13
Since we're planning to allow an overriding mechanism, what about this?  Bundle the recommended ion parameters with each water model, so you get those automatically.  Then provide separate files with only the divalent ions, which can be added in to override the default parameters for them?

[2016-03-01 16:58] jchodera commented on #13
Works for me!

[2016-03-01 20:23] rafwiewiora commented on #13
Sounds good!

Out of curiosity / want to understand fully: how do you justify only providing one monovalent model in all this / why is Joung-Cheatham the best one?

Also what about trivalent and tetravalent parameters - have these separately, or add to those divalent separate files?

[2016-03-02 23:23] rafwiewiora commented on #13
Another question is: for the divalent ions that will override the standard divalent ions - we need to change the atom type names there - what kind of change should we introduce?

I would suggest including the 'priority' number that the overriding template will have - so standard zinc would have atom type `ZN` (or `ZN1` but I'm thinking about making the overriding so that unspecified priority will

[2016-03-03 00:06] peastman commented on #13
What about something more descriptive, that indicates what parameter set it comes from?  Similar to how different water models define types like "tip3p-O", "tip4pew-O", etc.

[2016-03-03 00:10] jchodera commented on #13
How fancy do we get?  `charmm-tip3p-O` and `amber-tip3p-O`?

[2016-03-03 00:27] rafwiewiora commented on #13
Yeah, I feel like this can get too complicated depending on the amount of information you put into those names. At the same time, all that information sits already in the file name, so why repeat?

I'm +1 for something as simple as possible, while giving different names. That would mean for the new files also changing the type names for waters to just `OH` and `HW` - I don't see any point for over

[2016-03-03 00:29] rafwiewiora commented on #13
On a separate note: Do we have capability in OpenMM for the 12-6-4 potential? Does that have to go as a custom force?

[2016-03-03 00:36] peastman commented on #13
I don't think there's any reason to go that far, unless the CHARMM and Amber files actually define TIP3P differently.  As long as they really are identical types, we can use the same name in both places.

There's definitely value to having the more verbose names, though, in cases where they really are different.  I wouldn't want to remove that.  And that's especially true in cases like the ions, w

[2016-03-03 00:36] jchodera commented on #13
They do.

[2016-03-03 00:37] peastman commented on #13
We could certainly implement a 12-6-4 potential with CustomNonbondedForce.  But are we considering any force fields for this release that use that?

[2016-03-03 00:38] peastman commented on #13
Then the names should be different.  But what's the difference between them?  TIP3P is supposed to be a completely standardized model.

[2016-03-03 00:38] jchodera commented on #13
You wouldn't want to be loading two different versions of the same kind of water model or solvated monovalent/divalent ions into the same `ForceField` object.  The case we talked about previously where this would be desired is pretty much limited to mixing multisite ion models with non-multisite models.

[2016-03-03 00:45] peastman commented on #13
That's exactly what we're planning to do.  The water models will include default parameters for all ions, and then you'll optionally be able to load additional files that override the parameters for limited sets of ions.  In that case, it will be helpful to be able to check the atom type assignments and verify that it's using the ones you intended.

[2016-03-03 01:03] jchodera commented on #13
How?  There's currently no facility for retaining information about what atom types are matched, nor is there any way for someone to examine this through an API call.

[2016-03-03 01:11] peastman commented on #13
Not currently, no, because the whole concept of overriding doesn't exist yet.

[2016-03-03 02:16] swails commented on #13
CHARMM doesn't claim to use TIP3P -- they call it TIP3PF or something.  My understanding is that they put small LJ terms on the Hs.  But yes, I've heard they're different.

This is an ion model more than a FF.  The only terms that have a r^-4 term are interactions between atom types and ions.  So in the absence of "12-6-4 ions", the FF is a canonical 12-6 L-J potential.  Currently this is only sup

[2016-03-03 13:29] jchodera commented on #13
I believe the residue matching behavior is still undefined if we have multiple residues with the same element-bond graphs.  @peastman can clarify.

[2016-03-03 15:08] rafwiewiora commented on #13
Exactly - they have LJ on the H's, all other params are the same as AMBER tip3p.

Yeah, I was only asking because of the 12-6-4 ions. Not sure how much work that would take to implement, but I'd say let's finish this all off without those first and think about the implementation in the future?

I think we have this all worked out ok already - yes, the residue overriding is undefined yet, will be d

[2016-03-03 15:33] rafwiewiora commented on #13
Actually, thinking about the residue names more - we need something to mean 'this is the residue to override with that one' in the overriding, so it seems like we should keep the residue names the same and override based on the same residue name? Otherwise we would need a function that does signature and bonding comparisons on two templates rather than template - residue and that might get a bit m

[2016-03-03 16:32] rafwiewiora commented on #13
Another question, sorry these things multiply fast as I work through:
- AMBER water models come with the hydrogen - hydrogen harmonic bond restraint. Clearly this is replaced by putting on constraints when creating system in OpenMM as we don't use those in the existing models, correct? So am I ok just hardcoding the removal of those bonds in the conversion script, should we make a note about that

[2016-03-03 18:12] peastman commented on #13
Ok.  I'd say that anything that is defining standard TIP3P can continue to use the existing names, like "tip3p-O".  But if the CHARMM version isn't standard TIP3P, it should use different names, like "tip3pf-O" or "charmm-tip3p-O".

That makes sense to me.  Especially because the overriding template might have a different bond graph than the original one.  That's certainly true for multi-site ion

[2016-03-03 19:56] rafwiewiora commented on #13
I'm confused here. Are you saying the current water models have H - H bonds? They don't in the XMLs, doesn't look like they are hardcoded anywhere - topology doesn't have those bonds.

I see how `createSystem()` replaces H - O bonds and the angle with constraints for residues named `HOH`, but nothing on the H - H bonding.

[2016-03-03 20:48] peastman commented on #13
No, I misunderstood what you were saying.  It includes O-H bonds, and an H-O-H angle.

[2016-03-03 21:07] rafwiewiora commented on #13
Right, I see.

Just to make sure I understand right - you should not run a simulation with unconstrained waters using a model that is defined as rigid. So the only usefulness of keeping these models flexible would be to first `createSystem()` with `rigidWater=False`, create simulation, minimize energy - copy the positions over to a new simulation where `rigidWater = True` was used when creating sy

[2016-03-03 21:16] peastman commented on #13
I wouldn't go so far as to say that's the only use, but it's certainly one of the most common.  It's certainly true, though, that most standard water models are defined to be rigid.  So if you ask for TIP3P but set `rigidWater=False`, you're getting something different from "standard" TIP3P.  Because standard TIP3P is rigid.  I think the only non-rigid water models we currently include are for AMO

[2016-03-03 21:39] rafwiewiora commented on #13
Ok, thanks!

One more thing I think I'm missing from full understanding - how are constraints implemented in terms of forces. I understand when you `addConstraint` you set it to the desired bond length - now are they then implemented as harmonic bonds with infinite k? And what would be the difference between equilibrating the same system with water bonds and angle out of equilibrium with constrain

[2016-03-03 21:46] rafwiewiora commented on #13
Ok, thanks!

(Deleted some comment here, need to think about it more).

[2016-03-03 21:59] rafwiewiora commented on #13
Ok, so what I was thinking was - what algorithm does OpenMM implement constraints with? And what exactly would be the difference between having a water molecule with atoms in non-equilibrium positions and a) minimizing it as flexible b) minimizing it as rigid? Would b) be calculated using SHAKE / whatever else OpenMM uses for constraints or would it exchange constraints for harmonic bonds during m

[2016-03-03 22:51] peastman commented on #13
OpenMM uses a mix of three different constraint algorithms: SETTLE for water, SHAKE for clusters of hydrogens bound to a heavy atom, and CCMA for everything else.

In case b, all bonds and angles would end up having precisely the values they're constrained to.  That's true regardless of what forces are acting on the molecule.  That isn't true in case a.  For an isolated water molecule with no outs

[2016-03-03 23:34] swails commented on #13
One thing I'll point out is look how angle constraints in OpenMM are implemented -- they are converted into distances via standard geometry, right? So how is that different from just using a bond instead that defines the same geometry for water?

For others it might differ because the constraint algo is not exact, but SETTLE is so this should make no difference. Right?

 Last comment,  given that

[2016-03-03 23:50] rafwiewiora commented on #13
Thanks @peastman!

Ok, so going onto the final shape of this - another problem is the virtual sites. I'm currently trying to understand the translation from the EP with bonds to the oxygen that AMBER uses to the OpenMM virtual site - particularly how the weights for the virtual sites are calculated?

When you made the existing water ffxmls - was this a conversion from AMBER? Is there any info on t

[2016-03-04 00:11] peastman commented on #13
I just looked up the definitions of the water models and calculated the weights by hand.  Depending on how AMBER represents them (I don't know), it might or might not be straightforward to convert them.  If it isn't, just copying the existing definitions might be the safest thing.

This probably makes very little difference.  How much difference is there in the definitions?

[2016-03-04 22:46] rafwiewiora commented on #13
Ok!

The existing files have:

[code]

AMBER params are:

[code]

[2016-03-04 22:47] rafwiewiora commented on #13
@swails can you help out on the virtual sites weights calculations (i.e. how do I translate the AMBER models that use EP's with EP-O bonds to the OpenMM virtual sites)? I mentioned this briefly during the Skype we had, I think you said that would be sitting somewhere in ParmEd?

[2016-03-04 22:54] peastman commented on #13
I don't think there are many cases where anyone would care about a 0.01% difference in the mass.

[2016-03-08 02:26] rafwiewiora opened #14 "How to allow ions of same element and different charge"
@peastman @jchodera @swails

I'm gonna code the template overwriting in a sec and this is another thing that needs to go in - how to allow template matching for ions of the same element, but different charges - e.g Fe2+ and Fe3+. This is not only because one would have both in the same system, but also because I'm having Fe2+ and Fe3+ in the same ffxml. And I see no point separating the ffxmls fur

[2016-03-08 21:52] peastman commented on #14
Yeah, if you want two different versions of the same element in the same system, there's no way we can handle that automatically.  Instead, there needs to be some mechanism for the user to specify this.

My first thought is to offer a `templates` argument to `createSystem()`.  It would take a map going from Residue objects to template names.  That would work for this case.  But how would it intera

[2016-03-08 22:12] rafwiewiora commented on #14
Just chatted with @ChayaSt about the patch issue.

We don't think there's any situation where patches would apply here - you wouldn't have patches for monoatomic ions and that's the only situation we're considering here, I can't see any other situation where this would be necessary - perhaps a hard-coded limitation of this to either monoatomic residues or residues without any patches to avoid conf

[2016-03-08 22:28] peastman commented on #14
In the Topology object, all names are supposed to match standard PDB names.  And if they don't, we attempt to rename them on loading.  So I don't think asking people to specify nonstandard names is a good idea.

Is there any reason for limiting it to monoatomic residues?  It seems an unnecessary limitation.

[2016-03-08 22:41] rafwiewiora commented on #14
Ah of course, I forgot!

So I see you're thinking to extend this fully to somewhat a parallel system to overriding - I will be able to load in two templates that have the same signatures and bonding, but at the same overriding level (or without any overriding, so default level of 0) - and then I will have to tell createSystem which one to pick. I like it! This is also easily portable onto `addExtr

[2016-03-08 22:49] peastman commented on #14
With the restriction, of course, that they have to have different names.  Otherwise, you couldn't specify which one to use.

Why a list rather than a map?  In what situation would that be more convenient?

I suggest that for the moment we limit it to no patches.  If necessary we can extend it in the future (for example by passing a tuple rather than a string as you suggested).  But it brings up a

[2016-03-08 22:52] rafwiewiora commented on #14
Agreed.

Sounds good to me.

What do you mean by map? A dictionary? That's good for when I have to chose Fe2+ / Fe3+ template for all irons in my topology, but what if I want one to be Fe2+ and another Fe3+? Then that needs to be positional.

[2016-03-08 23:01] peastman commented on #14
My suggestion above was that the keys would be Residue objects.

[2016-03-08 23:05] rafwiewiora commented on #14
Oh I see. Sure, sounds great! That's all I need to get this done, thanks!

[2016-03-08 23:50] rafwiewiora commented on #13
I have decided to not worry about coding up the virtual sites conversion - we will convert solvents by hand and the conversion script accepts ready solvent ffxml's, which it appends to the ion ffxmls during conversion. Closing this.

[2016-03-08 23:50] #13 closed

[2016-03-08 23:51] rafwiewiora commented on #11
Closing this for now - no conversion for lipid14 until problem is resolved on the AMBER side.

[2016-03-08 23:51] #11 closed

[2016-03-08 23:52] rafwiewiora commented on #12
Closing this - no conversion for this bundle until problem is resolved on the AMBER side.

[2016-03-08 23:52] #12 closed

[2016-03-08 23:52] rafwiewiora commented on #14
Closing.

[2016-03-08 23:52] #14 closed

[2016-03-22 06:43] rafwiewiora commented on #9
Looking for solutions to the impropers issue here now.

I confused myself a bit before with this one improper in DNA & RNA, so to re-summarize:
- for example, dihedral written in the AMBER dat as: `('H4', 'X', 'CM', 'X')` (3rd atom in AMBER is the central atom, there's a comment with half a line of exclamation marks in the leap code about the 3rd atom having to be the central one)

YET
- leap assi

[2016-03-23 22:44] rafwiewiora commented on #9
pinging @swails and @jchodera with a reminder here, see above

[2016-03-24 01:03] swails commented on #9
I'm confused...  It looks like there's a `CM` in the third position of both the improper with wild-cards _and_ in the one that LEaP assigns.  What am I missing?  That looks consistent with what LEaP should be doing, assuming that `N*` is in the residue before `CM`, `CM`, and `H4`.

As for whom to contact, the Amber list, or perhaps the Amber developer list, is the best bet.

[2016-03-24 05:52] rafwiewiora commented on #9
OK, I think I've confused myself really badly and you only helped me rethink that with your comment. I think I thought too much about how the 3rd atom == central becomes 1st atom == central in ffxml, but then again 3rd atom == central on assigning the torsions on `createSystem`. And because OpenMMParameterSet has central atom == 1st atom I assumed somewhere along the way that every improper I get

[2016-03-24 10:34] swails commented on #9
I clarified the docs here a little bit. (See ParmEd/ParmEd#650).  Note that that assumption (of third atom being central) is _only_ hit if the structure has no bonds defined (which is only ever the case when starting from a PDB or mmCIF file).  In every other case, the central atom is identified as the one forming bonds with the other 3.  I added a note about having that section of the code use th

[2016-03-24 13:52] rafwiewiora commented on #9
Looks good! (your links link to this repo instead of ParmEd though :) ). It looks like the central atom in there will not be defined in any case where you don't have one atom forming bonds with the other 3 right? So because I was suspecting a bug out of LeAP I made sure I knew that function in case the LeAP bug was giving some impropers with not the right bonds.

I think what would've been helpful

[2016-03-29 17:52] #9 closed

[2016-03-29 18:34] rafwiewiora opened #16 "Proposal for new improper-matching algorithm"
@swails @jchodera @peastman

I have looked into the problems with the impropers and come up with a revised version of the matching code. Have a glance at the existing code: https://github.com/pandegroup/openmm/blob/master/wrappers/python/simtk/openmm/app/forcefield.py#L1360-L1390

We had:
* first has to match (central atom) -- this becomes the 3rd atom in the torsion added to System
* a permutatio

[2016-03-30 18:13] peastman commented on #16
It's good to understand what's going on, but I don't think it's our goal for OpenMM to be bug-compatible with leap.  The documented behavior of impropers in OpenMM is that they can match any order, regardless of whether there are wildcards.  The fact that Amber only recognizes one (undocumented!) order when there are no wildcards, but any order if there are, makes no sense and should probably be v

[2016-03-30 18:31] jchodera commented on #16
One man's bug is another man's reference implementation. AMBER also uses an incorrect set of constants for the dielectric permittivity of free space (encoded as [a scaling factor for partial charges](https://github.com/pandegroup/openmm/blob/master/wrappers/python/simtk/openmm/app/internal/amber_file_parser.py#L241)) but we still use that to reproduce AMBER behavior.

I think we more generally nee

[2016-03-30 18:36] peastman commented on #16
You're implying that a "reference implementation" by definition cannot contain bugs.  I don't agree with that at all!  If a reference implementation contains a bug, the solution is to fix that bug, not to dutifully copy it into every other program.

Also remember that ForceField is not leap, and OpenMM supports a wide range of force fields, not just Amber ones.

[2016-03-30 18:39] rafwiewiora commented on #16
We really need to settle something on this 'bug talk' because we go through this in like every issue.

Either you want OpenMM to be it's own force in the 'forcefield' market, but do you have people publishing forcefields with a primary ffXML implementation?

Or you're happy with reproducing the behavior of another software that had those FFs implemented for their format. In this case there's no 'b

[2016-03-30 18:42] rafwiewiora commented on #16
Also, this is not replicating a 'bug'?

[code]

Doesn't workaround there really mean a hack? I think what I proposed makes more sense, seems much cleaner to me. AND gets energies more right.

[2016-03-30 18:42] jchodera commented on #16
Yep. And it provides ways for us to implement other force terms that certain forcefields (like AMOEBA and CHARMM Drude) use.

Just because you decide it's a bug doesn't mean that we don't have to support functionality in order to match energies. I can totally understand not doing that if the AMBER devs say "hey, it's a bug, we're fixing it in the next minor release", but that's not what is happeni

[2016-03-30 18:52] rafwiewiora commented on #16
A more on topic issue here. I just realized that when the System's data is build all combinations of the 3 non-central atoms are appended: https://github.com/pandegroup/openmm/blob/master/wrappers/python/simtk/openmm/app/forcefield.py#L878

So `createForce` loops over all of those combinations? And then how do we ensure only one version is added? Does `addTorsion` make sure there's no duplicates?

[2016-03-30 18:55] peastman commented on #16
1. As both @swails and I have pointed out repeatedly, Amber isn't even internally consistent when it comes to ordering impropers.  The same improper can get ordered in two different ways in two residues of the same protein.
2. If you compare implementations of Amber force fields in various programs, you'll find that nearly all of them differ in how they order impropers.  OpenMM isn't at all unique

[2016-03-30 18:57] rafwiewiora commented on #16
I would also like to mention something about this `hasWildcard` and `not hasWildcard` separation. I put importance on that, because my initial plan to fix this was:
- hypothesis was that problems were introduced by use of wildcards (as the comment in the current code suggests)
- that might only be partially true as it looks like 'better' treatment of no-wildcard cases has improved energies here
-

[2016-03-30 18:58] peastman commented on #16
OpenMM has a clearly documented behavior for matching impropers.  In some cases there are ambiguities, and that workaround makes it somewhat more consistent with Amber in the ambiguous cases—but still remains consistent with the documented behavior.  But your proposal was to change the documented behavior in a way that would make far less sense and would break other force fields.

[2016-03-30 19:02] peastman commented on #16
I think you're thinking of permutations, not combinations?

[2016-03-30 19:07] rafwiewiora commented on #16
Ah sorry I got confused here: https://github.com/pandegroup/openmm/blob/master/wrappers/python/simtk/openmm/app/forcefield.py#L877

This is only to take a combination of 3 if there's more atoms bonded right? Ok so that gives only one possible order. Fine, I'm clear on this.

[2016-03-30 19:10] rafwiewiora commented on #16
so this is the whole workaround:
https://github.com/pandegroup/openmm/blob/master/wrappers/python/simtk/openmm/app/forcefield.py#L1385-L1388 ??

According to what I've showed this is not quite right. I've seen this to lead to better behavior:

[code]

can we at least settle on accepting a better workaround?

[2016-03-30 19:11] rafwiewiora commented on #16
Let me prove that it's indeed better by comparing two by energies and number of mis-assigned (vs Amber) impropers. Or are you uncomfortable here with the swaps with the 4th atom because wildcards can only be in the first two? In that case just sorting those by index appears better than these same elements - by index, not same elements - by mass rules.

[2016-03-30 19:14] rafwiewiora commented on #16
Also I am not convinced that changes in the orders of impropers do not lead to changes in the shape of the potential energy surface. Is there a theoretical prove I can consult? If it's really only 'keep things flat' and does not change outcomes of sampling - fine. But is it?

Also I can't quite see how,if you define two planes for an improper based on this order, you always keep things flat. If yo

[2016-03-30 19:22] rafwiewiora commented on #16
Oh btw so @peastman you're saying the workaround is only for Amber when it's using wildcards? But it's affecting every single improper that does through that code. So why not introduce the `if hasWildcard`?

You're breaking FFs that don't use wildcards through that workaround, aren't you?

[2016-03-30 19:23] jchodera commented on #16
I suspect these actually can cause very large changes in some properties like hydration free energies. @davidlmobley has examples where differences in proper torsions can make large differences in free energies of partitioning between vacuum/water or phases. It's not inconceivable that these differences in impropers---which can be up to a few kcal/mol in pathological circumstances---can cause larg

[2016-03-30 19:25] davidlmobley commented on #16
We've never gotten around to checking this for impropers, though I suspect
for the right cases, this may be right.

On Wed, Mar 30, 2016 at 12:23 PM, John Chodera notifications@github.com
wrote:

##

David Mobley
dmobley@gmail.com
949-385-2436

[2016-03-30 19:27] rafwiewiora commented on #16
14 kJ/mol == 3.34 kcal/mol !! https://github.com/choderalab/openmm/issues/9#issuecomment-186515004 This is an APOCALYPTIC number.

And that's a 19 residue RNA only, these things are additive!

[2016-03-30 19:29] rafwiewiora commented on #16
I must say - I'm willing to trash a few months of my work here, because I cannot honestly tell someone that using my converted ffXMLs is better than going through a prmtop route (which is actually super easy if you know how to use leap). I just ask that in the future when we embark on a few months of work, we make a decision and stick to it, can't keep going over the same issue all over all the ti

[2016-03-30 19:31] swails commented on #16
Careful here.  Things are not as bad as 14 kJ/mol seems.  Remember that single-point energies are meaningless in MM.  And what you're comparing here _really_ are different FFs.  What you should be looking at is the underlying shape of the PES, rather than its absolute placement.

[2016-03-30 19:33] rafwiewiora commented on #16
I've never parametrized an FF, but I imagine if you parametrize a forcefield for AMBER what you're checking is the output energies and whatever properties you care about from AMBER? Doesn't that make all bugs that might exist in the software part of the forcefield?

[2016-03-30 19:34] rafwiewiora commented on #16
Ok cool. So how do we prove that the underlying shape of the PES is unchanged? Perhaps we should run some calcs for what @jchodera and @davidlmobley were thinking about?

[2016-03-30 19:34] swails commented on #16
Not really.  Bonds and angles you fit to vibrational data or QM hessians.  Torsions you fit to QM scans or experimental FE surfaces you get from sources like NMR or other things.  In all cases, you're never fitting to single energies.

[2016-03-30 19:35] davidlmobley commented on #16
I don't actually have a molecule in mind where I have a reasonable guess that this might matter much. I'd probably need to ask someone like Christopher Bayly or someone from a similar vein - someone with more knowledge of organic than me. I'm open to suggestions.

[2016-03-30 19:37] davidlmobley commented on #16
@swails - never fitting single energies, yes, but you ARE very concerned about your impropers having the desired effect and not mucking other things up. I'm fairly convinced that impropers haven't been examined carefully enough, in that they're normally there just for things like ring planarity where they will have been tested in small molecules, yet we expect them still to work reasonably for lar

[2016-03-30 19:38] rafwiewiora commented on #16
Ok I see, so you guys are saying - the orders of impropers enters the equation somewhere during these parametrization but as the ordering that authors used is not published we treat it as undefined and do whatever we do? I guess that is fair enough, though somewhat disappointing. I guess this is something to bear in mind for future forcefield development @jchodera ?

[2016-03-30 19:38] rafwiewiora commented on #16
That sounds very cool to check out! I'll be very interested in helping set this up @davidlmobley

[2016-03-30 19:41] swails commented on #16
I personally don't think the impropers are a big deal -- they're there to get planarity correct and avoid bad things.  The force constants are not carefully picked (if they're too weak, make them stronger), and many other programs assign them differently than LEaP and claim to implement the same FF (see GROMACS).

However, there are a sizeable number of people who will dismiss any calculation that

[2016-03-30 19:45] rafwiewiora commented on #16
A very simple idea for now - for the test systems I have here: ala_ala_ala, villin headpiece, 4RZN DNA and 5C5W DNA - load in systems through prmtop route and ffxml route, do identical minimizations and compare RMSD's between the prmtop vs ffxml routes? Is there going to be a random variation from the minimization here too though?

[2016-03-30 19:45] rafwiewiora commented on #16
That's what I've done essentially.

Re ambiguities - another examples is what I saw with this C5 vs CB thing I mentioned in the first post. The original writing of the improper in parm10.dat is:

[code]

This is assigned in exactly that order if you load in the original dat. Change to:

[code]

which is what the correct alphabetical order should be, and that is the order it gets assigned in. Appea

[2016-03-30 23:21] peastman commented on #16
Not quite.  There are two different issues here.  One is trying to match the order used by leap, which I'm totally fine with.  We already make some effort to do that.  My objections were to a different part of your proposal: that in the absence of wildcards, we should only match atoms if they come in one particular order, rather than considering all possible orders for them.  I object to anything

[2016-03-31 00:15] rafwiewiora commented on #16
?? That's not true. I did nothing to matching, I only changed the order that is passed to `.addTorsion` after the matching is complete. When I say 'match an order' in my first post I mean 'the order passed to addTorsion matches x'.  Pasting the code in again:

[code]

The permutations are still there. All that's changed for no-wildcard is that `addTorsion` will receive order as written in the ffxm

[2016-03-31 00:20] rafwiewiora commented on #16
Did we talk about a non-existing issue all this time?

[2016-03-31 18:14] peastman commented on #16
Possibly!  That was my understanding from what you wrote, but if that isn't actually what you meant, then my objections were irrelevant!

[2016-03-31 18:59] rafwiewiora commented on #16
Haha nice! Yeah, the matching is still the same, it's only the final order that's changed. Ok I will PR this after we merge the other Forcefield PR.

What I did wonder for this is though - does this change affect other FFs? CHARMM for example? @ChayaSt wasn't sure. Do they use impropers and hence this code?

[2016-03-31 20:23] peastman commented on #16
Currently we only have one CHARMM force field.  That's the polarizable one, and it doesn't look like it uses any wildcards for improper torsions,

[2016-03-31 20:33] rafwiewiora commented on #16
Right - what I'm worrying about is such situation: we're making this change for the purpose that energies match better with LEaP, but through that we are also enforcing a certain order on the CHARMM FF's impropers:

[code]

so what if in the future we learn something more and further refine the 'LEaP matching' algorithm - that would also change the behavior for CHARMM at that point, for reasons un

[2016-03-31 21:25] peastman commented on #16
That's actually an issue I've been worrying about too.  Here's a few principles to consider.
1. Every time we change the behavior, we break backward compatibility.  That is, the new version will produce different results from the old version.  This is, in itself, a bad thing.  That doesn't mean we can never do it, but we certainly shouldn't do it without good reason.
2. Currently, the documentatio

[2016-03-31 21:34] peastman commented on #16
Also, to clarify one point: the only ambiguity should be in the order of the atoms that match the wildcards.  So you have four atoms, and atom1 is defined to be the central atom.  Suppose (just as an example) we declare that the improper will order the atoms as (2, 1, 3, 4).  With no wildcards, the order is unambiguous.

Now suppose atom4 is a wildcard.  There might still only be one possible orde

[2016-03-31 21:42] rafwiewiora commented on #16
Ok, so let me reply to the ambiguity first.

You seem to be only considering ambiguity in the atom type assignment. You need to go further though and consider ambiguity in the atom index assignment after types are unambiguously assigned without wildcards.

No wildcards does not mean no ambiguity. If in a no-wildcard improper two or three of the non-central atoms use the same atom type = ambiguity.

[2016-03-31 21:43] rafwiewiora commented on #16
There is a _problem_ here. The indexes of atoms can be manipulated depending on the order in the loading PDB right? In learning these rules I used the residue orders as written in our templates == as written in .lib files in AMBER == probably a 'standard'. So what happens if someone writes the residue from 'end' to 'beginning' in the PDB?

[2016-03-31 21:50] rafwiewiora commented on #16
With a has-wildcard situation, there's another issue. Let's look at my proposal code:

[code]

Everything makes sense for sorting the more-than-one-same-atom-type-atom where one is matched from 'hard' record, one from wildcard etc. But we also have the 1-2 sorting just by index, no matter what types and element. Seems like this is what LeAP does when any wildcard is present. It sounds like you wou

[2016-03-31 22:12] peastman commented on #16
Good point.  The order of atoms within a residue is undefined.  A PDB file lets you order them however you want, and that shouldn't affect the force field.  So yes, it should be based on the order in the template definition, not the order in the topology.

[2016-03-31 22:15] peastman commented on #16
Let me make sure I understand.  Are you saying that if even one atom has a wildcard, then leap completely ignores the order of the atoms as listed in the improper definition, and just substitutes its own hardcoded rules?  If so, that sounds... problematic.

[2016-03-31 22:19] rafwiewiora commented on #16
Ok I can rewrite it that way.

That's right. It appears so - though let me try changing it so that it only does the 1-2 swap if there's two wildcards and see how much that changes energies and mismatching impropers.

[2016-03-31 22:44] peastman commented on #16
We do have one extra tool to work with: when we generate the XML files, we can choose what order to list the types for each improper.  So if we don't want to throw out ordering information the way Amber does, can we order them in the file so that it will, nonetheless, produce the same result as Amber?

[2016-03-31 23:16] rafwiewiora commented on #16
I mean we do that already - ParmEd ensures that atom types are `sorted` so we don't have to do that anymore in the code.

But you can't write the things that are the problem here in the ffxml - the issues here are all atom index-sorting based - so you can't pre-write this in the ffxml. For example if the AMBER rule is that 'if at least one wildcard in the torsion, swap atoms 1 and 2 regardless of

[2016-03-31 23:17] rafwiewiora commented on #16
Well let me first do this comparison with when I turn this off - I never tried, might be that actually I made a mistake and it will not change anything.

[2016-04-04 10:01] rafwiewiora commented on #16
@peastman : tried different versions of the code - it does look like LEaP really separates no-wildcard and some-wildcard situations. Can't get as good results out as I do with the code I proposed, with anything else.

So I think we need to work out a strategy for dealing with this code - with relation to other FFs. Do you want to just take it as it is and say that's going to be 'standard OpenMM' n

[2016-04-04 18:01] jchodera commented on #16
If we have an old behavior and a new AMBER-specific behavior, what about adding an option/attribute to the appropriate XML tag to select the behavior?

[2016-04-04 18:13] rafwiewiora commented on #16
I think that's a great way to go - it seems like a good idea to have some sort of an ID-tag for identify which software the FF has come from.

[2016-04-04 19:27] peastman commented on #16
That makes sense as an approach.  For Amber force fields, try to match Amber's behavior exactly.  For others, do something intelligent.

[2016-04-04 20:14] rafwiewiora commented on #16
Ok, so we're agreed!

How about we just use the existing format:
https://github.com/choderalab/openmm/blob/forcefield_conversion_bonanza/devtools/forcefield-scripts/amber/ffxml/ff14SB.xml#L4

[code]

and say - if ffxml has Source info, and `if sourcePackage == 'AmberTools'` - use AMBER code, else - use general code.

I feel like, because that tag looks a bit intimidating, people might now want to

[2016-04-04 20:23] peastman commented on #16
That feels a little too much like a hidden feature.  The `<Info>` section is supposed to just be reference information that doesn't affect how the force field is processed.  I'd prefer adding an attribute to the `<PeriodicTorsionForce>` tag to explicitly turn this on.

First sort by residue, then by atom index in template.  Since an improper can easily involve atoms in two different residues.

[2016-04-04 20:26] rafwiewiora commented on #16
True! Hmm maybe this is what's missing in my code to make it better, I'll try, thanks for the point out @peastman !

[2016-04-13 23:58] jchodera commented on #16
Did we ever get this resolved?

[2016-04-14 02:56] rafwiewiora commented on #16
Nope, on TODO ASAP list.

[2016-06-21 17:42] rafwiewiora opened #17 "amber2openmm - AmberTools 16 adaptation + code clean-up for PR"
For notes and problems as I go along  - for now just opening.

[2016-08-15 20:50] rafwiewiora commented on #16
Closing this, because discussion now happening in https://github.com/pandegroup/openmm/pull/1560

[2016-08-15 20:50] #16 closed

[2016-08-18 22:19] rafwiewiora commented on #17
@peastman just wondering why you made the `overload` --> `override` change in https://github.com/pandegroup/openmm/commit/6ce433934296d05dfb08557c98746c073373d67b ? Only noticed this due to failing tests, need to change ParmEd now too.

[2016-08-18 22:28] peastman commented on #17
Because the words "overload" and "override" mean different things.  In programming, for example, "overloading" means having multiple functions with the same name (but distinguished in some other way like the set of arguments), while "overriding" means replacing a previous definition of a function with a new one.  What it's doing here is overriding, not overloading.

[2016-08-18 22:41] rafwiewiora commented on #17
I see, thanks!

[2016-08-25 16:48] #17 closed

[2017-03-21 19:47] Janeyin600 opened #18 "Replacing the standard functional forms in OpenMM with non-standard ones"
We are currently interested in incorporating generic functional forms with the APR-OpenMM workflow, to allow people to test all kinds of force fields with our standard benchmark systems. I've used the CustomBondForce( ) function to define additional interactions (e.g. restraints ) in my APR scripts, but I don't know how to overwrite the standard functions.

I wonder if there is a way to void the s

[2017-04-28 18:28] rafwiewiora commented on #18
Please post on the main OpenMM issue tracker: https://github.com/pandegroup/openmm

Closing this.

[2017-04-28 18:28] #18 closed

[2019-02-20 14:15] tristanic commented on #12
I just came across this thread after running into similar issues with ff14SB and modrna08. It was a different overridden parameter that tipped me off, though: the N2-CA-N2-H torsion (which maintains the planarity of the guanidinium hydrogens in arginine) gets revised down almost 10-fold - which as you might imagine leads to some very strange-looking behaviour! No real point to posting this, other